<!-- <div class="flex flex-col items-stretch justify-center"> -->
<div *ngIf="successMessage" class="p-2 mb-4 rounded bg-green-100 text-green-800 border border-green-300">
    {{ successMessage }}
</div>
<div *ngIf="errorMessage" class="flex flex-col p-2 mb-4 rounded bg-red-100 text-red-800 border border-red-300 items-center animate-pulse ease-in">
    {{ errorMessage }}
</div>
<div class="p-4">
    <h2 class="text-xl font-bold mb-4">Créer une nouvelle tâche</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" #taskForm="ngForm" class="space-y-4">
        <input type="text" [(ngModel)]="task.title" name="title" placeholder="Titre" required
            class="w-full p-2 border rounded" />

        <textarea [(ngModel)]="task.description" name="description" placeholder="Description" required
            class="w-full p-2 border rounded"></textarea>

        <div id="status">
            <label class="mb-0" for="status">Status :</label>
            <!-- <select [(ngModel)]="task.status" name="status" class="w-full p-2 border rounded mb-2">
                <option *ngFor="let s of ['TO_DO', 'IN_PROGRESS', 'COMPLETED']" [value]="s">{{ s }}</option>
            </select> -->
            <select formControlName="status" class="w-full p-2 border rounded mb-2">
                <option value="TO_DO">À faire</option>
                <option value="IN_PROGRESS">En cours</option>
                <option value="COMPLETED">Terminé</option>
            </select>
        </div>

        <div id="dueAt">
            <label class="mt-5" for="status">Date d'échéance :</label>
            <input type="date" [(ngModel)]="task.dueAt" name="dueAt" class="w-full p-2 border rounded" />
        </div>

        <button type="submit" class="bg-blue-500 w-full text-white py-2 rounded hover:bg-blue-600 transition-colors ease-linear">Créer</button>
    </form>
</div>
<!-- </div> -->