<div class="p-4 max-w-md mx-auto">
  <h2 class="text-xl font-bold mb-4">Créer une nouvelle tâche</h2>
  
  <form (ngSubmit)="onSubmit()" #taskForm="ngForm" class="space-y-4">
    <input type="text" [(ngModel)]="task.title" name="title" placeholder="Titre" required class="w-full p-2 border rounded" />
    
    <textarea [(ngModel)]="task.description" name="description" placeholder="Description" required class="w-full p-2 border rounded"></textarea>
    
    <label class="mb-0" for="status">Status :</label>
    <select [(ngModel)]="task.status" name="status" class="w-full p-2 border rounded">
      <option *ngFor="let s of ['TO_DO', 'IN_PROGRESS', 'COMPLETED']" [value]="s">{{ s }}</option>
    </select>

    <input type="date" [(ngModel)]="task.dueAt" name="dueAt" class="w-full p-2 border rounded" />

    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Créer</button>
  </form>
</div>
